body{
    background-color: rgb(252, 253, 252);
    text-align: center;
    
 
 }
 .box{
    display: flex;
    flex-direction: column;
     text-align: center;
     background-color: rgb(252, 250, 253);
     width: 900px;
     height: 750px;
     position: relative;
     left: 150px;
     padding: 10px;
 box-shadow: 2px 2px 2px 2px #919090;
 }
 h1{
    text-align: center;
    color: rgb(38, 95, 202);
    font-size: 40px;
 }
 form{
     border: 3px solid rgb(251, 250, 252);
     width: 670px;
     height: 400px;
     position: relative;
     left: 50px;
     border-radius: 30px;
 }
 .square1 input{
     background-color: rgb(199, 189, 189);
     height: 35px;
     width: 300px;
     position: relative;
     left: 0.500px;
     border-radius: 0px;
     border: rgb(208, 226, 208);
     margin: 10px;
 
 }
 .square2 button{
     background-color: rgb(67, 99, 185);
     color: white;
     height: 40px;
     width: 300px;
     position: relative;
     left: 0.500px;
     border-radius: 0px;
     border: rgb(208, 226, 208);
     margin: 10px;
     font-size: 17px;
 
 }
 
 .selecton{
     text-align: center;
     color: rgb(71, 60, 175);
 }
 .create{
    height: 90px;
    width: 90px;
 }
 